<div class="container">
    <header class="header">
      <h1>Bannari Amman Institute of Technology</h1>
      <p>Welcome to the Registration Portal</p>
    </header>
  
    <div class="options">
      <div class="option-box">
        <button (click)="goToRegistration()" class="option-link">
          <h2>Registration Form</h2>
        </button>
      </div>
      <div class="option-box">
        <a routerLink="/status" class="option-link">
          <h2>Registration Status</h2>
        </a>
      </div>
    </div>
  
    <footer class="footer">
      <p>© Bannari Amman Institute of Technology, 2024. All Rights Reserved.</p>
    </footer>
  </div>
  